/* global style */
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root{
  /* EEE9DA */
  /* faf8ef */

  --nav-color: #e3dac8;
  --text-color: #AA5656;
  --body-color: #dacfc4;
  --icons-color:#bcaea5;
  --transition: 1s;

}
img{
  cursor: pointer;
}
Link,a{
  text-decoration: none;
}